<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.2.xsd
">
    <context:component-scan base-package="ohtu" />
    
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>
    
        <!-- wepa kurssilta -->
        <!-- eclipseLink -->
        <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
            <property name="persistenceUnitName" value="${persistence.unit}" />
            <property name="dataSource" ref="dataSource" />
            <property name="jpaVendorAdapter">
                <bean class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter"/>
            </property>
        </bean>
        <!-- tuotantoympäristön konfiguraatio -->
        <bean profile="production">
            <!-- ympäristöön liittyvä konfiguraatiotiedosto -->
            <context:property-placeholder location="classpath:production.properties"/>
        </bean>
        <!-- luodaan tietokantakonfiguraatio luetun konfiguraatiotiedoston perusteella -->
        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <property name="driverClassName" value="org.postgresql.Driver"/>
            <property name="url" value="${database.url}"/>
            <property name="username" value="${database.username}"/>
            <property name="password" value="${database.password}"/>
        </bean>
        
        <!-- oletuskonfiguraatio -->
        <bean profile="dev,default">
            <!-- ympäristöön liittyvä konfiguraatiotiedosto -->
            <context:property-placeholder location="classpath:development.properties"/>

            <!-- muistiin ladattava tietokanta -->
              
            <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
                <property name="entityManagerFactory" ref="entityManagerFactory"/>
            </bean>

            <tx:annotation-driven transaction-manager="transactionManager" />
    
            <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
            <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
    
            <jdbc:embedded-database id="dataSource" type="H2"/>
        </bean>
        
    </beans>

    
    
</beans>
