.panel dl, .panel h4 {
    margin-top: 0;
    margin-bottom: 0;
}
.bibtex {
    height: 1em;
}
.navbar-default .navbar-brand {
    color: black;
}
body {
    padding-top: 70px;
    padding-bottom: 20px;
}
.nav li a {
    display: inline-block;
    vertical-align: middle;
    padding: 6px 12px;
    border-radius: 4px;
}
.nav li a.btn-primary {
    color: #fff;
    background-color: #428bca;
}
.nav li a.btn-primary:hover, .nav li a.btn-primary:focus {
    color: #fff;
    background-color: #3276b1;
}
.nav li {
    height: 50px;
    margin-left: 10px;
}
.nav li:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
/* collapsed state */
.navbar-collapse.in, .navbar-collapse.collapsing {
    text-align: right;
}
.navbar-collapse.in ul, .navbar-collapse.collapsing ul {
    margin-right: 0;
}
.navbar-collapse.in li, .navbar-collapse.collapsing li {
    height: 40px;
}
/* entrycount */
.entrycount {
    margin-left: 10px;
}
.navbar-collapse.in .entrycount, .navbar-collapse.collapsing .entrycount {
    display: inline-block;
    float: left;
    line-height: 34px
}
.input_fields {
    margin-top: 10px;
    margin-bottom: 30px;
    border-top: 1px solid #eeeeee;
    padding-top: 20px;
}
h3 {
    margin-top: 30px;
}

